<div class="flex flex-col flex-auto w-full">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400 border-gray-300">
            ทดสอบเพิ่มหน้า dashboard.component.html

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 w-full mt-8">
                
                <!-- Conversions -->
                <div class="sm:col-span-2 lg:col-span-1 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex items-start justify-between m-6 mb-0">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Conversions</div>
                        <!-- <mat-menu> ให้ทำการ 
                            import { MatMenuModule } from '@angular/material/menu'; 
                            ที่ moudule.ts ของตัวเองด้วย 
                        -->
                        <div class="ml-2">
                            <button
                                class="h-6 min-h-6 px-2 rounded-full bg-hover"
                                mat-button
                                [matMenuTriggerFor]="conversionMenu">
                                <span class="font-medium text-sm text-secondary">30 days</span>
                            </button>
                            <mat-menu #conversionMenu="matMenu">
                                <button mat-menu-item>30 days</button>
                                <button mat-menu-item>3 months</button>
                                <button mat-menu-item>9 months</button>
                            </mat-menu>
                        </div>
                    </div>

                    <div class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3">
                        <div class="text-7xl font-bold tracking-tighter leading-tight">100</div>
                        <!-- <mat-icon> ให้ทำการ 
                            import { MatIconModule } from '@angular/material/icon'; 
                            ที่ moudule.ts ของตัวเองด้วย 
                        -->
                        <div class="flex lg:flex-col lg:ml-3">
                            <mat-icon
                                class="icon-size-5 text-red-500"
                                [svgIcon]="'heroicons_solid:trending-down'">
                            </mat-icon>
                            <div class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
                                <span class="font-medium text-red-500">2%</span>
                                <span class="ml-1">below target</span>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-col flex-auto h-20">
                        <!-- <apx-chart> ให้ทำการ 
                            import { NgApexchartsModule } from 'ng-apexcharts'; 
                            ที่ moudule.ts ของตัวเองด้วย 
                        -->
                        
                    </div>
                </div>

                <!-- Impressions -->
                <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex items-start justify-between m-6 mb-0">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Impressions</div>
                        <div class="ml-2">
                            <button
                                class="h-6 min-h-6 px-2 rounded-full bg-hover"
                                mat-button
                                [matMenuTriggerFor]="impressionsMenu">
                                <span class="font-medium text-sm text-secondary">30 days</span>
                            </button>
                            <mat-menu #impressionsMenu="matMenu">
                                <button mat-menu-item>30 days</button>
                                <button mat-menu-item>3 months</button>
                                <button mat-menu-item>9 months</button>
                            </mat-menu>
                        </div>
                    </div>    

                    <div class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3">
                        <div class="text-7xl font-bold tracking-tighter leading-tight">200</div>
                        <div class="flex lg:flex-col lg:ml-3">
                            <mat-icon
                                class="icon-size-5 text-red-500"
                                [svgIcon]="'heroicons_solid:trending-down'">
                            </mat-icon>
                            <div class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
                                <span class="font-medium text-red-500">4%</span>
                                <span class="ml-1">below target</span>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-col flex-auto h-20">
                        
                    </div>                
                </div>

                <!-- Visits -->
                <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex items-start justify-between m-6 mb-0">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Visits</div>
                        <div class="ml-2">
                            <button
                                class="h-6 min-h-6 px-2 rounded-full bg-hover"
                                mat-button
                                [matMenuTriggerFor]="impressionsMenu">
                                <span class="font-medium text-sm text-secondary">30 days</span>
                            </button>
                            <mat-menu #impressionsMenu="matMenu">
                                <button mat-menu-item>30 days</button>
                                <button mat-menu-item>3 months</button>
                                <button mat-menu-item>9 months</button>
                            </mat-menu>
                        </div>
                    </div>

                    <div class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3">
                        <div class="text-7xl font-bold tracking-tighter leading-tight">300</div>
                        <div class="flex lg:flex-col lg:ml-3">
                            <mat-icon
                                class="icon-size-5 text-red-500"
                                [svgIcon]="'heroicons_solid:trending-down'">
                            </mat-icon>
                            <div class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
                                <span class="font-medium text-red-500">4%</span>
                                <span class="ml-1">below target</span>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-col flex-auto h-20">
                        
                    </div>
                </div>
                
            </div>

        </div>
        
    </div>

</div>
