<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="body flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400 border-gray-300">

            <div class="card border-2 frame-size">
                <div class="card-header">คลินิก</div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <a [routerLink]="['demopair01', 'bussiness']" (onClickOrg)="['demopair01']" class="list-group-item">
                            <div class="panel-body no-border">
                                <h4 class="m-b-xs txt-color-blueprimary">ข้อมูลคลินิก</h4>
                                <br>
                                <footer class="blockquote-footer icon-14 no-margin-bottom">ตั้งค่าเกี่ยวกับข้อมูลคลินิก</footer>
                            </div>
                        </a>
                    </blockquote>
                    <br>

                    <blockquote class="blockquote mb-0">
                        <a [routerLink]="['demopair01', 'room']" (onClickOrg)="['demopair01']" class="list-group-item">
                            <div class="panel-body no-border">
                                <h4 class="m-b-xs txt-color-blueprimary">ข้อมูลห้อง</h4>
                                <br>
                                <footer class="blockquote-footer icon-14 no-margin-bottom">ตั้งค่าสำหรับการเข้าใช้งาน</footer>
                            </div>
                        </a>
                    </blockquote>
                </div>
            </div>

        </div>

    </div>

</div>
